@forward "@/styles/reset.scss";
@use "@/styles/var.scss";

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  color: #666;
  background: #fff;

  --cursor: default;
  --app-height: 100vh;

  &.isPC {
    --cursor: pointer;
  }
}

#app {
  min-height: var(--app-height);
}

a {
  text-decoration: none;
  color: inherit;
}
